.maincontainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 0;
  height: 50vh;
  position: absolute;
}

.dashboardcontainer {
  overflow-y: scroll;
  padding-left: 10px;
}

.topRight {
  position: absolute;
  z-index: 10000000000;
  top: 0vh;
  right: 0vw;
}

.parent {
  position: relative;
}
