.mainContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 0;
  height: 50vh;
  position: absolute;
}

.dashboardContainer {
  overflow-y: scroll;
  padding-left: 10px;
}

.polarisContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-top: 800px;
}
