# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# these owners will be requested for
# review when someone opens a pull request.
* @SPDonaghy

# boat_simulator
/notebooks/boat_simulator @eomielan
/src/boat_simulator @eomielan

# custom_interfaces
/src/custom_interfaces @UBCSailbot/soft-admin

# controller
/notebooks/controller @eomielan
/src/controller @eomielan

# diagnostics
/src/diagnostics @samdai01

# docs
/docs/ @jamenkaye

# local_pathfinding
/notebooks/local_pathfinding @jamenkaye @FireBoyAJ24 @SPDonaghy
/src/local_pathfinding @jamenkaye @FireBoyAJ24 @SPDonaghy

# network_systems
/src/network_systems @samdai01

# website
/src/website @JordanChen123
