# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# these owners will be requested for
# review when someone opens a pull request.
* @patrick-5546

# boat_simulator
/notebooks/boat_simulator @DFriend01
/src/boat_simulator @DFriend01

# controller
/notebooks/controller @DFriend01
/src/controller @DFriend01

# diagnostics
/src/diagnostics @samdai01

# docs
/docs/ @DFriend01

# local_pathfinding
/notebooks/local_pathfinding @jamenkaye
/src/local_pathfinding @jamenkaye

# network_systems
/src/network_systems @hhenry01
