# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# these owners will be requested for
# review when someone opens a pull request.
* @UBCSailbot/soft-leads

# Additionally make ubcsailbotsoftware a code owner for
# tests.yml so it can auto-approve dependabot PRs
/.github/workflows/tests.yml @ubcsailbotsoftware @UBCSailbot/soft-leads
