Checks: "
    bugprone*,
    clang-analyzer*,
    concurrency*,
    google*,
    misc-definitions-in-headers,
    misc-static-assert,
    misc-unused-parameters,
    modernize-avoid-c-arrays,
    modernize-use-nullptr,
    modernize-use-using,
    readability*,

    -bugprone-easily-swappable-parameters,
    -bugprone-infinite-loop,
    -clang-analyzer-optin*,
    -clang-analyzer-osx*,
    -clang-analyzer-cplusplus.Move,
    -google-objc*,
    -readability-function-cognitive-complexity,
    -readability-identifier-length,
"

WarningsAsErrors: "*, -google-readability-todo"
