build/*
install/*
log/*
site/*
**/__pycache__/

# vcstool packages
src/*
!src/global_launch
!src/new_project.repos

# configuration files
.devcontainer/config/*
!.devcontainer/config/README.md
!.devcontainer/config/sailbot_workspace.code-workspace

# clangd
.cache/*
compile_commands.json

# python
*.pyc
