# ros
/build/
/install/
/log/

# configuration files
/.devcontainer/config/*
!/.devcontainer/config/README.md

# clangd
.cache/

# microsoft c/c++ intellisense (disabled in favor of clangd)
/.vscode/*

# python
__pycache__/
.mypy_cache/
.pytest_cache/

# exported plantuml diagrams
/diagrams/out/

# data collection node output
/boat_simulator_output/

# docs
# Python virtual environment
.venv/
venv/
# Social cards
.cache/
# Build
site/

# Website
**/package-lock.json

# Test Coverage
.coverage

# Data Recordings
notebooks/local_pathfinding/session_recordings/
