# ros
build/
install/
log/

# vcstool packages
src/*
!src/global_launch
!src/polaris.repos

# configuration files
.devcontainer/config/*
!.devcontainer/config/README.md

# clangd
.cache/
compile_commands.json

# microsoft c/c++ intellisense (disabled in favor of clangd)
.vscode/c_cpp_properties.json

# python
__pycache__/
.mypy_cache/
.pytest_cache/
