.parent {
  position: relative;
  height: 100%;
}

.topRight {
  position: absolute;
  z-index: 10000000000;
  top: 0.6vh;
  right: 0.3vw;
}

.bottomRight {
  position: absolute;
  z-index: 10000000000;
  bottom: 3.1vh;
  right: 0.5vw;
}
