@import 'https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap';

.iconButton {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Verdana, sans-serif;
  padding: 3px;
  border: 2px solid white;
  border-radius: 5px;
  width: 130px;
  height: 50px;
  color: white;
  float: right;
  margin-right: 20px;
  box-sizing: border-box;
  transition: 0.3s ease;
  transform: none;
  user-select: none;
}

.iconButton:hover {
  background-color: white;
  color: #3498db;
  cursor: pointer;
  transition: 0.3s ease;
}

.iconButtonOpen {
  font-family: Verdana, Geneva, sans-serif;
  padding: 3px;
  border: 2px solid white;
  border-radius: 5px;
  width: 130px;
  height: 50px;
  float: right;
  margin-right: 20px;
  box-sizing: border-box;
  text-align: center;
  background-color: white;
  color: #3498db;
  cursor: pointer;
  transition: 0.3s ease;
  transform: none;
  user-select: none;
}

.dropdownActive {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  transition: 0.3s eas