/* note to self use fredoka */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--accent-color-1);
  color: var(--accent-color-2);
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Fira Code', 'SF Mono', Consolas, 'Courier New', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.leaflet-container,
.leaflet-container * {
  background-color: transparent !important;
}

svg {
  fill: var(--accent-color-2);
}
