.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 20px;
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: #090909;
}

.title {
  display: flex;
  align-items: center;
  gap: 16px;
}

.title h1 {
  margin-top: 6px;
  font-weight: 400;
}

.logo {
  height: 50px;
}

.links {
  margin-top: 6px;
  display: flex;
  flex-direction: row;
  gap: 20px;
  font-size: 22px;
  font-weight: 200;
}
