.header {
  padding: 5px;
  margin: -10px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between; 
  background: linear-gradient(to right, #26619c, #3498db);
}

.title {
  font-family: Verdana, Geneva, sans-serif;
  color: white;
  margin-left: 20px;
  font-size: 30px;
  letter-spacing: 2px;
}

.logo {
  width: 30px;
  margin-left: 50px;
}

.infoButton {
  margin-right: 20px; 
}
