@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

.header {
  padding: 5px;
  margin: -10px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  background: linear-gradient(to right, #26619c, #3498db);
  z-index: 1002;
}

.headerContainer {
  display: flex;
  align-items: center;
}

.title {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  color: white;
  margin-left: 20px;
  font-size: 30px;
  letter-spacing: 2px;
}

.logo {
  width: 30px;
  margin-left: 50px;
}
