.container {
  display: flex;
  flex-direction: column;
  gap: 12px;
  position: relative;
}

.inputs {
  display: flex;
  flex-direction: column;
  gap: 12px;
  position: relative;
  z-index: 2;
}

.dateGroup {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.input {
  border: 1px solid #404040;
  padding: 8px;
  font: inherit;
  cursor: pointer;
  text-transform: uppercase !important;
}

.input:hover {
  border-color: #666;
}

.calendarWrapper {
  position: relative;
}

.calendarWrapper :global(.react-datepicker) {
  width: 326px;
  background: none !important;
}

.calendarWrapper :global(.react-datepicker-popper) {
  margin-top: 8px !important;
}

.calendar {
  margin-top: 8px !important;
  z-index: 100 !important;
  font: inherit !important;
  border: none !important;
}

.calendar :global(.react-datepicker__header) {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 38px !important;
  background: #0d0d0d !important;
  border-bottom: 1px solid #404040 !important;
}

.calendar :global(.react-datepicker__current-month),
.calendar :global(.react-datepicker__day-name) {
  color: white !important;
}

.calendar :global(.react-datepicker__day) {
  color: white !important;
}

.calendar :global(.react-datepicker__day:hover) {
  background: #2563eb !important;
}

.calendar :global(.react-datepicker__day--selected),
.calendar :global(.react-datepicker__day--keyboard-selected) {
  background: #2563eb !important;
}

.calendar :global(.react-datepicker__time-container) {
  border-left: none !important;
}

.calendar :global(.react-datepicker__time-list) {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

.calendar :global(.react-datepicker__time-list::-webkit-scrollbar) {
  display: none; /* Chrome, Safari and Opera */
}

.calendar :global(.react-datepicker__time-list-item) {
  display: flex;
  align-items: center;
}

.calendar :global(.react-datepicker__time-list-item:hover) {
  background: #2563eb !important;
}

.calendar :global(.react-datepicker__time-list-item--selected) {
  background: #2563eb !important;
}

.buttons {
  display: flex;
  gap: 8px;
}

.reset {
  cursor: pointer;
  color: white;
}
