.aboutContainer {
  display: flex;
  justify-content: center;
  width: 100%;
}

.about {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 1000px;
}

.about h2 {
  width: 100%;
  font-weight: 500;
  font-size: 32px;
}

.about p {
  font-size: 18px;
}
