# global parameters
/**:
   ros__parameters:
      # Publishers' period (seconds): how often the publishers publish
      pub_period_sec: 1.0

# local_pathfinding parameters
mock_global_path:
   ros__parameters:
      global_path_filepath: "/workspaces/sailbot_workspace/src/local_pathfinding/global_paths/mock_global_path.csv"
      interval_spacing: 30.0
      write: false
      gps_threshold: 1.5
      force: false
navigate_main:
   ros__parameters:
      path_planner: "rrtstar"
      use_mock_land: false

# controller parameters
wingsail_ctrl_node:
    ros__parameters:
        reynolds_number: [0.0, 1.0, 2.0]
        angle_of_attack: [0.0, 1.0, 2.0]
        apparent_wind_lower_threshold: 10.0
        apparent_wind_upper_threshold: 15.0

# boat_simulator parameters
low_level_control_node:
   ros__parameters:
      logging_throttle_period_sec: 2.0
      info_log_throttle_period_sec: 2.0
      qos_depth: 1
      rudder:
         disable_actuation: false
         fixed_angle_deg: 0.0
         actuation_execution_period_sec: 0.5
         pid:
            kp: 0.01
            ki: 0.01
            kd: 0.01
            cp: 0.01
            buffer_size: 50
      wingsail:
         disable_actuation: false
         fixed_angle_deg: 0.0
         actuation_execution_period_sec: 0.5
         actuation_speed_deg_per_sec: 1.0
physics_engine_node:
   ros__parameters:
      logging_throttle_period_sec: 2.0
      info_log_throttle_period_sec: 2.0
      action_send_goal_timeout_sec: 2.0
      qos_depth: 1
      rudder:
         actuation_request_period_sec: 10.0
      wingsail:
         actuation_request_period_sec: 10.0
      wind_sensor:
         generator_type: gaussian
         gaussian_params:
            mean: [1.0, 0.0]
            std_dev: [0.1, 0.1]
            corr_xy: 0.
         constant_params:
            value: [1.0, 0.0]
      wind_generation:
         mvgaussian_params:
            mean: [5.0, 5.0]
            cov: "[[25.0, 10.0], [10.0, 15.0]]"
      current_generation:
         mvgaussian_params:
            mean: [1.0, 0.5]
            cov: "[[0.5, 0.1], [0.1, 0.3]]"
data_collection_node:
   ros__parameters:
      file_name: 'ros_data_collection'
      qos_depth: 10
      topics: ['/mock_gps', 'GPS', '/mock_wind_sensors', 'WindSensors']
      bag: false
      json: true
      write_period_sec: 0.5
mock_data_node:
   ros__parameters:
      qos_depth: 10
      mock_desired_heading: True
      mock_desired_heading_lower_bound: -179.99
      mock_desired_heading_upper_bound: 180.00
      mock_sail_trim_tab: True
      mock_sail_trim_tab_lower_bound: -7.0
      mock_sail_trim_tab_upper_bound: 7.0
