.downloadContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 96px;
  margin-top: 96px;
}

.downloadHeader {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 8px;
}

.downloadHeader h2 {
  font-size: 32px;
  font-weight: 700;
}

.dataSetDownload {
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  gap: 32px;
  padding-bottom: 200px;
  place-content: center;
  justify-items: center;
}

.dataSetCard {
  border-radius: 8px;
  background-color: #1d1d1d;
  padding: 32px;
  width: 320px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (max-width: 1200px) {
  .dataSetCard {
    max-width: 1030px;
  }
}

.title {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 8px;
  width: fill;
}

.downloadOptions {
  display: flex;
  gap: 16px;
}

.downloadButton {
  display: flex;
  align-items: center;
  gap: 4px;
  cursor: pointer;
  user-select: none;
  font-size: 20px;
  opacity: 0.9;
}

.downloadButton:hover {
  text-decoration: underline;
}

.description {
  font-size: 16px;
  opacity: 0.75;
  padding-bottom: 40px;
}

.dateUpdated {
  font-size: 14px;
  opacity: 0.4;
  margin-top: 4px;
}
