name: Build Dev Image

on:
  workflow_dispatch:
    inputs:
      tag:
        description: 'Dev image tag'
        required: false
        type: string
        default: 'latest'

jobs:
  docker:
    runs-on: ubuntu-latest

    steps:
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.PATRICK_PAT }}

      - name: Build and push
        uses: docker/build-push-action@v2
        with:
          context: "{{defaultContext}}:.devcontainer/dev"
          push: true
          tags: ghcr.io/ubcsailbot/vscode_ros2_workspace/dev:${{ inputs.tag }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
