name: Docs - Lint

on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:

jobs:
  # https://github.com/nosborn/github-action-markdown-cli
  markdownlint:
    runs-on: ubuntu-latest
    steps:
    - name: Check out code
      uses: actions/checkout@v3

    - name: Lint markdown pages
      uses: nosborn/github-action-markdown-cli@v3.1.0
      with:
        files: 'README.md .devcontainer/'
        config_file: '.markdownlint.json'

  # https://github.com/gaurav-nelson/github-action-markdown-link-check
  markdown-link-check:
    runs-on: ubuntu-latest
    steps:
    - name: Check out code
      uses: actions/checkout@v3

    - name: Check markdown pages for broken links
      uses: gaurav-nelson/github-action-markdown-link-check@v1
      with:
        config-file: '.markdown-link-check.json'
        file-path: './README.md'
        folder-path: '.devcontainer'
