name: Tests

on:
  push:
    branches:
      - main
      - raye
  pull_request:
  workflow_dispatch:

jobs:
  colcon-test:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    env:
      MONGODB_URI: ${{ secrets.MONGODB_URI }}
    steps:
    - name: Checkout workspace
      uses: actions/checkout@v6

    - name: Set up Python
      uses: actions/setup-python@v6
      with:
        python-version: '3.x'

    - name: show installed python dependencies
      run: |
        pip3 list

    - name: Test
      uses: ./.github/actions/
      with:
        script: './scripts/run-tests'
        run-website: 'true'

  ament-lint:
    strategy:
      fail-fast: false
      matrix:
          # mypy and ament_lint_common, except for copyright, cppcheck, cpplint, uncrustify, and pep257
          linter: [lint_cmake, flake8, mypy, xmllint]
    name: ament_${{ matrix.linter }}
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
    - name: Checkout workspace
      uses: actions/checkout@v6

    - name: Run linter
      uses: ./.github/actions/
      with:
        script: './scripts/ament-lint'
        linter: ${{ matrix.linter }}

  clang-tidy:
    runs-on: ubuntu-latest
    timeout-minutes: 15
    steps:
    - name: Checkout workspace
      uses: actions/checkout@v6

    - name: Run linter
      uses: ./.github/actions/
      with:
        script: './scripts/clang-tidy'
