name: Test Definitions

on:
  # Called by other workflows, refer to
  # https://docs.github.com/en/actions/using-workflows/reusing-workflows#calling-a-reusable-workflow
  workflow_call:
    # Inputs and secrets documented in the caller workflows
    inputs:
      clang-tidy:
        required: true
        type: boolean
      custom-interfaces:
        required: true
        type: boolean
      disable-vcs:
        required: true
        type: string
      repository:
        required: true
        type: string
      rebuild-docs:
        required: true
        type: boolean
    secrets:
      gh-token:
        required: true

jobs:
  colcon-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout workspace
        uses: actions/checkout@v3
        with:
            repository: UBCSailbot/sailbot_workspace

      - name: Checkout ROS package
        if: ${{ inputs.repository }} != ${{ github.event.repository.name }}
        uses: actions/checkout@v3
        with:
            repository: UBCSailbot/${{ inputs.repository }}
            path: src/${{ inputs.repository }}

      - name: Checkout custom_interfaces ROS package
        if: ${{ inputs.custom-interfaces}}
        uses: actions/checkout@v3
        with:
            repository: UBCSailbot/custom_interfaces
            path: src/custom_interfaces

      - name: Test
        uses: ./.github/actions/test/
        env:
          DISABLE_VCS: ${{ inputs.disable-vcs }}

  ament-lint:
    name: ament_${{ matrix.linter }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
          # ament_lint_common, except for copyright, cppcheck, cpplint, uncrustify, and pep257
          linter: [lint_cmake, flake8, xmllint]
    steps:
      - name: Checkout workspace
        uses: actions/checkout@v3
        with:
            repository: UBCSailbot/sailbot_workspace

      - name: Checkout ROS package
        if: ${{ inputs.repository }} != ${{ github.event.repository.name }}
        uses: actions/checkout@v3
        with:
            repository: UBCSailbot/${{ inputs.repository }}
            path: src/${{ inputs.repository }}

      - name: Checkout custom_interfaces ROS package
        if: ${{ inputs.custom-interfaces}}
        uses: actions/checkout@v3
        with:
            repository: UBCSailbot/custom_interfaces
            path: src/custom_interfaces

      - name: Run linter
        uses: ./.github/actions/ament-lint/
        env:
          LINTER: ${{ matrix.linter }}
          DISABLE_VCS: ${{ inputs.disable-vcs }}

  clang-tidy:
    runs-on: ubuntu-latest
    if: inputs.clang-tidy
    steps:
      - name: Checkout workspace
        uses: actions/checkout@v3
        with:
            repository: UBCSailbot/sailbot_workspace

      - name: Checkout ROS package
        if: ${{ inputs.repository }} != ${{ github.event.repository.name }}
        uses: actions/checkout@v3
        with:
            repository: UBCSailbot/${{ inputs.repository }}
            path: src/${{ inputs.repository }}

      - name: Checkout custom_interfaces ROS package
        if: ${{ inputs.custom-interfaces}}
        uses: actions/checkout@v3
        with:
            repository: UBCSailbot/custom_interfaces
            path: src/custom_interfaces

      - name: Run linter
        uses: ./.github/actions/clang-tidy/
        env:
          DISABLE_VCS: ${{ inputs.disable-vcs }}

  # https://github.com/nosborn/github-action-markdown-cli
  markdownlint:
    runs-on: ubuntu-latest
    steps:
    - name: Check out code
      uses: actions/checkout@v3
      with:
          repository: UBCSailbot/${{ inputs.repository }}

    - name: Run linter
      uses: nosborn/github-action-markdown-cli@v3.3.0
      with:
        config_file: .markdownlint.json
        files: .
        dot: true

  # https://github.com/gaurav-nelson/github-action-markdown-link-check
  markdown-link-check:
    runs-on: ubuntu-latest
    steps:
    - name: Check out code
      uses: actions/checkout@v3
      with:
          repository: UBCSailbot/sailbot_workspace

    - name: Run linter
      uses: gaurav-nelson/github-action-markdown-link-check@v1
      with:
        config-file: .markdown-link-check.json
        folder-path: .

  # Rebuilds our docs site https://ubcsailbot.github.io/docs/
  rebuild-docs:
    runs-on: ubuntu-latest
    if: github.event_name == 'push' && github.ref == 'refs/heads/main' && inputs.rebuild-docs
    steps:
    - name: Dispatch Docs Publish workflow
      # https://github.com/orgs/community/discussions/26323#discussioncomment-5600001
      run: |
          gh workflow run publish.yml -R UBCSailbot/docs
          sleep 5
          gh run watch -R UBCSailbot/docs $(gh run list -R UBCSailbot/docs -w publish.yml -L1 --json databaseId --jq '.[0].databaseId')
    env:
      GH_TOKEN: ${{ secrets.gh-token }}
