name: Tests

on:
  push:
    branches:
      - main
      # sailbot_workspace only: raye branch used to run Raye's software
      - raye
  pull_request:
  workflow_dispatch:

jobs:
  # CI for all UBCSailbot repositories defined in one place
  # Runs another workflow: https://docs.github.com/en/actions/using-workflows/reusing-workflows#calling-a-reusable-workflow
  test-definitions:
    # sailbot_workspace: use locally-defined file
    # other repositories: set to UBCSailbot/sailbot_workspace/.github/workflows/test_definitions.yml@<release>
    uses: ./.github/workflows/test_definitions.yml
    # see https://github.com/UBCSailbot/sailbot_workspace/blob/main/.github/workflows/test_definitions.yml
    # for documentation on the inputs and secrets below
    with:
      repository: ${{ github.event.repository.name }}
    secrets:
      PAT_TOKEN: ${{ secrets.PAT_TOKEN }}
