name: Tests

on:
  push:
    branches:
      - main
      # sailbot_workspace only: raye branch used to run Raye's software
      - raye
  pull_request:
  # sailbot_workspace only: regression tests runs every Friday at 1:00am UTC
  schedule:
    - cron: '0 1 * * 5'
  workflow_dispatch:

# Cancel in-progress runs for the current workflow
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  # CI for all UBCSailbot repositories defined in one place
  # https://github.com/UBCSailbot/sailbot_workspace/blob/main/.github/workflows/test_definitions.yml
  test-definitions:
    # Runs another workflow, refer to
    # https://docs.github.com/en/actions/using-workflows/reusing-workflows#calling-a-reusable-workflow
    uses: UBCSailbot/sailbot_workspace/.github/workflows/test_definitions.yml@user/patrick-5546/setup-local-pathfinding
    with:
      repository: ${{ github.event.repository.name }}
      # clang-tidy take a long time to run, so disable in repositories that don't need it
      clang-tidy: true
      # If the repository uses the msgs or srvs defined in custom_interfaces, set to true
      custom-interfaces: true
      # VCS is used to clone all subteam repositories, so set to
      # true in subteam repositories and
      # false in sailbot_workspace
      disable-vcs: false
      # Rebuilds our docs site https://ubcsailbot.github.io/docs/
      # If the docs contains a snippet of a file in this repository, set to true
      rebuild-docs: true
    # https://docs.github.com/en/actions/using-workflows/reusing-workflows#using-inputs-and-secrets-in-a-reusable-workflow
    secrets:
      # The repository secret `PAT_TOKEN` needs to exist, copy from Bitwarden
      gh-token: ${{ secrets.PAT_TOKEN }}
