name: Tests

on:
  push:
    branches:
      - main
      # sailbot_workspace only: raye branch used to run Raye's software
      - raye
  pull_request:
  # sailbot_workspace only: regression tests runs every Friday at 1:00am UTC
  schedule:
    - cron: '0 1 * * 5'
  workflow_dispatch:

# Cancel in-progress runs for the current workflow
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  # CI for all UBCSailbot repositories defined in one place
  # Runs another workflow: https://docs.github.com/en/actions/using-workflows/reusing-workflows#calling-a-reusable-workflow
  test-definitions:
    # sailbot_workspace: use locally-defined file
    # other repositories: set to UBCSailbot/sailbot_workspace/.github/workflows/test_definitions.yml@<release>
    uses: ./.github/workflows/test_definitions.yml
    # see https://github.com/UBCSailbot/sailbot_workspace/blob/main/.github/workflows/test_definitions.yml
    # for documentation on the inputs and secrets below
    with:
      repository: local_pathfinding
      ros-ci: true
      clang-tidy: false
      rebuild-docs: true
    # If rebuild-docs is true:
    # 1. Create the repository secret PAT_TOKEN (copy from Bitwarden)
    # 2. Uncomment the 2 lines below
    secrets:
      gh-token: ${{ secrets.PAT_TOKEN }}
