name: Test Definitions

on:
  # Called by other workflows: https://docs.github.com/en/actions/using-workflows/reusing-workflows#creating-a-reusable-workflow
  workflow_call:
    inputs:
      # The repository name: ${{ github.event.repository.name }}
      repository:
        required: true
        type: string
      # If true, runs the ROS tests and linters
      # Set to true for ROS packages
      ros-ci:
        required: true
        type: boolean
      # If true, runs clang-tidy
      # Takes a long time, so only set to true for C++ repositories
      clang-tidy:
        required: true
        type: boolean
      # If true, rebuilds our docs site https://ubcsailbot.github.io/docs/
      # Set to true if the docs site contains a snippet of a file in the repository
      rebuild-docs:
        required: true
        type: boolean
      # If true, runs the Markdown linters
      # True by default, disable only if there will never be Markdown files in the repository
      markdown-ci:
        required: false
        default: true
        type: boolean
    secrets:
      # A GitHub token with access to our docs site https://ubcsailbot.github.io/docs/
      # If rebuild-docs is true:
      # 1. Create the repository secret PAT_TOKEN (copy from Bitwarden)
      # 2. Set to ${{ secrets.PAT_TOKEN }}
      gh-token:
        required: false

jobs:
  colcon-test:
    runs-on: ubuntu-latest
    if: ${{ inputs.ros-ci }}
    steps:
    - name: Checkout workspace
      uses: actions/checkout@v4
      with:
          repository: UBCSailbot/sailbot_workspace

    - name: Checkout ROS package
      if: ${{ inputs.repository != 'sailbot_workspace' }}
      uses: actions/checkout@v4
      with:
          repository: UBCSailbot/${{ inputs.repository }}
          path: src/${{ inputs.repository }}

    - name: Checkout custom_interfaces ROS package
      if: ${{ inputs.repository != 'sailbot_workspace' && inputs.repository != 'custom_interfaces' }}
      uses: actions/checkout@v4
      with:
          repository: UBCSailbot/custom_interfaces
          path: src/custom_interfaces

    - name: Test
      uses: ./.github/actions/test/
      env:
        DISABLE_VCS: ${{ inputs.repository != 'sailbot_workspace' }}

  ament-lint:
    strategy:
      fail-fast: false
      matrix:
          # ament_lint_common, except for copyright, cppcheck, cpplint, uncrustify, and pep257
          linter: [lint_cmake, flake8, xmllint]
    name: ament_${{ matrix.linter }}
    runs-on: ubuntu-latest
    if: ${{ inputs.ros-ci }}
    steps:
    - name: Checkout repositories
      uses: ./.github/actions/checkout/
      with:
          repository: ${{ inputs.repository }}

    - name: Run linter
      uses: ./.github/actions/ament-lint/
      env:
        LINTER: ${{ matrix.linter }}
        DISABLE_VCS: ${{ inputs.repository != 'sailbot_workspace' }}

  clang-tidy:
    runs-on: ubuntu-latest
    if: inputs.clang-tidy
    steps:
    - name: Checkout workspace
      uses: actions/checkout@v4
      with:
          repository: UBCSailbot/sailbot_workspace

    - name: Checkout ROS package
      if: ${{ inputs.repository != 'sailbot_workspace' }}
      uses: actions/checkout@v4
      with:
          repository: UBCSailbot/${{ inputs.repository }}
          path: src/${{ inputs.repository }}

    - name: Checkout custom_interfaces ROS package
      if: ${{ inputs.repository != 'sailbot_workspace' && inputs.repository != 'custom_interfaces' }}
      uses: actions/checkout@v4
      with:
          repository: UBCSailbot/custom_interfaces
          path: src/custom_interfaces

    - name: Run linter
      uses: ./.github/actions/clang-tidy/
      env:
        DISABLE_VCS: ${{ inputs.repository != 'sailbot_workspace' }}

  # https://github.com/nosborn/github-action-markdown-cli
  markdownlint:
    runs-on: ubuntu-latest
    if: ${{ inputs.markdown-ci }}
    steps:
    - name: Check out code
      uses: actions/checkout@v4
      with:
          repository: UBCSailbot/${{ inputs.repository }}

    - name: Run linter
      uses: nosborn/github-action-markdown-cli@v3.3.0
      with:
        config_file: .markdownlint.json
        files: .
        dot: true

  # https://github.com/gaurav-nelson/github-action-markdown-link-check
  markdown-link-check:
    runs-on: ubuntu-latest
    if: ${{ inputs.markdown-ci }}
    steps:
    - name: Check out code
      uses: actions/checkout@v4
      with:
          repository: UBCSailbot/sailbot_workspace

    - name: Run linter
      uses: gaurav-nelson/github-action-markdown-link-check@v1
      with:
        config-file: .markdown-link-check.json
        folder-path: .

  # Rebuilds our docs site https://ubcsailbot.github.io/docs/
  rebuild-docs:
    runs-on: ubuntu-latest
    if: github.event_name == 'push' && github.ref == 'refs/heads/main' && inputs.rebuild-docs
    needs: [markdownlint, markdown-link-check]
    steps:
    - name: Dispatch Docs Tests workflow to publish site
      # https://github.com/orgs/community/discussions/26323#discussioncomment-5600001
      run: |
          gh workflow run tests.yml -R UBCSailbot/docs
          sleep 5
          gh run watch -R UBCSailbot/docs $(gh run list -R UBCSailbot/docs -w tests.yml -L1 --json databaseId --jq '.[0].databaseId')
    env:
      GH_TOKEN: ${{ secrets.gh-token }}
